body {
    height: 100vh;
    font-size: 16px;
    font-family: "Rubik", "PT Sans", Calibri, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.header.top {
    display: flex;
    margin: 5px 150px 40px;
    justify-content: space-between;
}

.logo {
    font-size: 1.5em;
}

ul.links {
    display: flex;
}