body {
    height: 100vh;
    font-size: 16px;
    font-family: "Rubik", "PT Sans", Calibri, Tahoma, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 5px 150px 40px;
    flex-direction: column;
}

.header.top {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

ul.links {
    display: flex;
    gap: 16px;
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: 1.125em;
    color: #E5E7EB;
}

.header.bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

img {
    width: 500px;
    height: 245px;
}

.content{
    align-items: flex-start;
}

.main.text {
    font-size: 3em;
    font-weight: 900;
    margin: 0;
}

.secondary.text {

}

.first.button {
    background-color: #3882f6;
    border: none;
    color: #F9FAF8;
    font-size: 1.125em;
    font-weight: 600;
}