body {
    height: 100vh;
    font-size: 16px;
    font-family: "Rubik", "PT Sans", Calibri, Tahoma, sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 5px 150px 40px;
}

.header.top {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

ul.links {
    display: flex;
    gap: 16px;
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: 1.125em;
    color: #E5E7EB;
}